{{#link-to 'article' article.id}}
  <div class="list-block">
    <span class="category-container"><h5 class="category image-overlay-text">{{article.category}}</h5></span>
    <img src="{{article.listImageURL}}" alt="{{article.titleListView}}" class="list-view-image">
    <h3 class="list-view-title">{{article.titleListView}}</h3>
    <div class="by-line">
      <span class="author">{{article.author}}</span>
      <span class="timestamp">{{article.timestamp}}</span>
    </div>
  </div>
{{/link-to}}
