<div class="list-block">
  <img src="{{article.imageURL}}" alt="{{article.titleListView}}" class="list-view-image">
  <h5 class="category">{{article.category}}</h5>
  <h3 class="list-view-title">{{article.titleListView}}</h3>
  <hr>
  <div class="by-line">
    <h6 class="author">{{article.author}}</h6>
    <h6 class="timestamp">{{article.timestamp}}</h6>
  </div>
  <button {{action 'delete' article}}>Delete</button>
</div>
