<div class="article-body">
  <img src="{{article.imageURL}}" alt="{{article.titleListView}}" class="detail-view-image">
  <h5 class="category">{{article.category}}</h5>
  <h3 class="list-view-title">{{article.titleDetailView}}</h3>
  <hr>
  <div class="by-line">
    <h6 class="author">{{article.author}}</h6>
    <h6 class="timestamp">{{article.timestamp}}</h6>
  </div>
  <div class="body-copy">
    {{article.bodyCopy}}
  </div>
</div>



<h3>Posted Comments:</h3>
<ul>
  {{#each article.comments as |comment|}}
    <li><h4>{{comment.name}} says</h4> <p>{{comment.comment}}</p></li>
  {{/each}}
</ul>
